body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 40px 20px;
    background-image: url('https://www.fxguide.com/wp-content/uploads/2019/11/ford-v-ferrari-DF-07431_CC_rgb.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}

.container {
    background-color: rgba(0, 0, 0, 0.28); 
    backdrop-filter: blur(4px); 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

img {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba;
}