@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


body{
    background-image: url("https://images.unsplash.com/photo-1503323553823-197edadf86b2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

form{
    position: relative;
    width: 410px;
    height: 450px;
    backdrop-filter: blur(25px);
    font-size:  18px;
    color: white;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-box{
    position: relative;
    width: 76%;
    margin: 25px 0;
    border-bottom: 2px solid white;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-40px);
}

.checkbox h5{
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}       

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    top: 20px;
}

.remember{
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember label input{
    accent-color: rgb(255, 255, 255);
    margin-right: 3px;
}

.remember a{
    color: white;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.submit-btn{
    width: 76%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 15px;
}

.login-register{
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
}

.login-register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

h2{
    font-size: 2em;
    color: white;
    text-align: center;
    font-weight: 600;   
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.checkbox{
    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}

